a:link {
    color: rgb(18, 159, 240);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
  

.color {
    font-family: "Georgia", serif;
    color:rgb(3, 114, 179);
    background-color:black;
    font-size: 66px;
    padding: 20px;
    border: 20px solid #9b51e0;
    margin: 10px;

}

.a-button, .caption1 {
    font-family: "Monaco", monospace;
    color: white;
    background-color: red;
    font-weight: bold;
}

.b-button, .caption2 {
    font-family: "Lucida Handwriting", cursive;
    color: teal;
    background-color:lightgreen;
    font-weight: bold;
}

.c-button, .caption3 {
    font-family: "Copperplate", fantasy;
    color: purple;
    background-color:burlywood;
    font-weight: bold;
}

.a-button, .b-button, .c-button {
    font-size: 40px;
    padding: 20px;
    border: 10px solid #0e049e;
    margin: 10px;
}

.caption1, .caption2, .caption3 {
    font-size: 20px;
    color: black;
    border: 5px solid gold;
    font-family: "Helvetica", sans-serif;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

.text {
    font-size: 25px;
    font-family: "Lucida Console", monospace; 
    border: 5px dotted rgb(0, 225, 255);
    padding: 10px;
    
}

h2 {
    font-size: 30px;
    margin: 0 0 -0.5rem 0;
}

li {
    font-size: 23px;
    font-family: "Courier New", monospace;
}